#if you use mysql<5.5 use this
#default-character-set=utf8

; mysql> SELECT VERSION();
; +-----------+
; | VERSION() |
; +-----------+
; | 8.0.39    |
; +-----------+

[client]
default-character-set = utf8mb4

[mysql]
default-character-set = utf8mb4

[mysqld]
character-set-server = utf8mb4
collation-server = utf8mb4_unicode_ci
